@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}
  
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@include keyframes(shake) {
    0% { transform: rotateZ(-3deg); }
    25% { transform: rotateZ(3deg); }
    50% { transform: rotateZ(-3deg); }
    75% { transform: rotateZ(3deg); }
    100% { transform: rotateZ(-3deg); }
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: #ccc 1px solid;
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    &--shake {
        @include animation('shake 2s infinite');
    }

    &__img {
        cursor: pointer;
        width:28rem; 
        height:28rem;
    
        @media (min-width: 768px) {
            width:37.5rem; 
            height:37.5rem;
        }
    }

    &__name {
        cursor: pointer;
        color: white;
        font-size: 1.6rem;
    }
    
    &__types {
        display: flex;
        gap: 1rem;
        &__type {
            font-size: 1.4rem;
            color: white;
            padding: 2px 1rem;
            border-radius: 2rem;
            background-color: rgba(255, 255, 230, 0.3);
        }
    }

    
}