<div [class]="'pokemon-container bg-'+pokemon?.firstType"
    [ngClass]="{
        'pokemon-container--shake': pokemon?.isSelected
    }">
    <img (click)="onSelected()" class="pokemon-container__img" [src]="pokemon?.imgUrl" [alt]="pokemon?.name">
    <strong (click)="onSelected()" class="pokemon-container__name">{{ pokemon?.name | titlecase }}</strong>
    <div class="pokemon-container__types">
        <p *ngFor="let type of pokemon?.types" class="pokemon-container__types__type">{{ type | titlecase }}</p>
    </div>
</div>